<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>

    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic(name = null, array = null) {
        if (!name)
            name = 'Name'

        data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', name);
        if (array)
            data.addRows(array);


        let options = {
            hAxis: {
                title: 'Year'
            },
            vAxis: {
                title: 'Rank',
                direction: -1,
                ticks: [200, 400, 600, 800,1000]

            }
        };

        let chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>

<script>
    $(document).ready(() => {
        // set a listener on the textbox
        $('#input').on("change", (evt) => {
            let text = $('#input').val();
            // the {text: text} sends a parameter named text with the
            // value of what was typed in the textbox
            $.get("/name", {text: text})
                .done((data) => {
                    if (data == null)
                        $(alert('Name not found in database.'));
                    $(console.log(data));
                    $('#results').prepend('<li>' + data + '</li>');
                    $(drawBasic(text,data));
                    $('#input').val('');   // reset the textbox
                })
                .fail((xhr) => {
                    alert('Problem contacting server');
                    console.log(xhr);
                });
        });
    });
</script>

<div class = 'container'>
  <input type="text" class="form-control" placeholder="Search Name" id = 'input'>
  <div id="chart_div"></div>
  <ul id="results">

  </ul>
</div>
