NameSearch/.idea/dataSources.local.xml
NameSearch/.idea/dataSources/540ee623-c9b4-420c-881e-ba21c109823b.xml
NameSearch/.idea/dataSources.xml
NameSearch/.idea/dataSources/540ee623-c9b4-420c-881e-ba21c109823b/storage.xml
NameSearch/.idea/jsLibraryMappings.xml
NameSearch/.idea/misc.xml
NameSearch/.idea/workspace.xml
NameSearch/.idea/NameSearch.iml
NameSearch/.idea/modules.xml